// Generic home.arpa example.
//
// Forward zone:
//   hostname.home.arpa -> IPv4 address
//
// Reverse zone:
//   IPv4 address -> hostname.home.arpa
//
// Adapt the subnet, filenames and records before enabling these zones.

zone "home.arpa" {
    type primary;
    file "/etc/bind/zones/db.home.arpa";
    allow-update { none; };
};

zone "1.168.192.in-addr.arpa" {
    type primary;
    file "/etc/bind/zones/db.192.168.1";
    allow-update { none; };
};
